footer.bg1
  .container.p-t-40.p-b-70
    .row
      .col-sm-6.col-md-6.p-t-50
        h4.txt13.m-b-33 Liên hệ
        ul.m-b-70
          li.txt14.m-b-14
            i.fa.fa-map-marker.fs-16.dis-inline-block.size19(aria-hidden="true")
            | Số 32, Phong Đình Cảng, Thành phố Vinh, tỉnh Nghệ An
          li.txt14.m-b-14
            i.fa.fa-phone.fs-16.dis-inline-block.size19(aria-hidden="true")
            | (+1) 96 716 6879
          li.txt14.m-b-14
            i.fa.fa-envelope.fs-16.dis-inline-block.size19(aria-hidden="true")
            | contact@site.com
        h4.txt13.m-b-32 Giờ mở cửa
        ul
          li.txt14 08:00 AM – 11:00 PM
          li.txt14 từ thứ 2 đến chủ nhật
      .col-sm-6.col-md-6.p-t-50
        h4.txt13.m-b-38 Ảnh
        .wrap-gallery-footer.flex-w
          a.item-gallery-footer.wrap-pic-w(href="images/premier-room.jpg", data-lightbox="gallery-footer")
            img(src="images/premier-room.jpg", alt="GALLERY" style="width:130px;height: 130px;")
          a.item-gallery-footer.wrap-pic-w(href="images/booking-01.jpg", data-lightbox="gallery-footer")
            img(src="images/booking-01.jpg", alt="GALLERY" style="width:130px;height: 130px;")
          a.item-gallery-footer.wrap-pic-w(href="images/our-menu-05.jpg", data-lightbox="gallery-footer")
            img(src="images/our-menu-05.jpg", alt="GALLERY" style="width:130px;height: 130px;")
          a.item-gallery-footer.wrap-pic-w(href="images/our-story-01.jpg", data-lightbox="gallery-footer")
            img(src="images/our-story-01.jpg", alt="GALLERY" style="width:130px;height: 130px;")




