header
  .wrap-menu-header.gradient1.trans-0-4
    .container.h-full
      .wrap_header.trans-0-3
        .logo
          a(href='/')
            span.txt3
            img(src='images/icons/logo.png', alt='IMG-LOGO')
        .wrap_menu.p-l-45.p-l-0-xl
          nav.menu
            ul.main_menu
              li
                a(href='/') Trang chủ
              li
                a(href='/menu') Thực đơn
              li
                a(href='/room') Phòng
              li
                a(href='/cafe') Coffee
              li
                a(href='/contact') Liên hệ
              li
                a(href='/tuyendung') Tuyển dụng  
        .social.flex-w.flex-l-m.p-r-20
          a(href='#')
            i.fa.a-facebook.m-l-21(aria-hidden='true')
          button.btn-show-sidebar.m-l-33.trans-0-4

  