section.section-ourmenu.bg2-pattern.p-t-115.p-b-120
  .container
    .title-section-ourmenu.t-center.m-b-22
      span.tit2.t-center Khám phá
      h3.tit5.t-center.m-t-2 Thực đơn
    .row
      .col-md-12
        .row
          .col-sm-4
            .item-ourmenu.bo-rad-10.hov-img-zoom.pos-relative.m-t-30
              img.img-responsive(src="images/breakfast.jpg", alt="IMG-MENU")
              a.btn2.flex-c-m.txt5.ab-c-m.size4(href="/menu") Bữa sáng  
          .col-sm-4
            .item-ourmenu.bo-rad-10.hov-img-zoom.pos-relative.m-t-30
              img.img-responsive(src="images/lunch.jpg", alt="IMG-MENU")
              a.btn2.flex-c-m.txt5.ab-c-m.size4(href="/menu") Bữa trưa
          .col-sm-4
            .item-ourmenu.bo-rad-10.hov-img-zoom.pos-relative.m-t-30
              img.img-responsive(src="images/dinner.jpg", alt="IMG-MENU")
              a.btn2.flex-c-m.txt5.ab-c-m.size4(href="/menu") Bữa tối
             
          


