section.section-intro
  .content-intro.bg-white.p-t-77.p-b-133
    .container
     if typeof(dataroom)!= "undefined"  
      .row
       each item,index in dataroom
        .col-md-4.p-t-30
          .blo1
            .wrap-pic-blo1.bo-rad-10.hov-img-zoom
              a(href="/room#"+index+"")
                img(src=item.image?item.image:'', alt="IMG-INTRO", style="width: 360px;height: 214px;")
            .wrap-text-blo1.p-t-35
              a(href="/room#"+index+"")
                h4.txt5.color0-hov.trans-0-4.m-b-13=item.name
              p.m-b-20=item.convenient?item.convenient:''
              a.txt4(href="/room#"+index+"") Xem thêm
                i.fa.fa-long-arrow-right.m-l-10(aria-hidden="true")
       

               
