section.section-welcome.bg1-pattern.p-t-120.p-b-105
  .container
    .row
      .col-md-6.p-t-45.p-b-30
        .wrap-text-welcome.t-center
          span.tit2.t-center Khách sạn
          h3.tit3.t-center.m-b-35.m-t-5 Chào mừng
          p.t-center.m-b-22.size3.m-l-r-auto=data.welcome.description?data.welcome.description:''
            :verbatim     
          a.txt4(href=data.welcome.welcome_url?data.welcome.welcome_url:'') Our Story
            i.fa.fa-long-arrow-right.m-l-10(aria-hidden="true")
      .col-md-6.p-b-30
        .wrap-pic-welcome.size2.bo-rad-10.hov-img-zoom.m-l-r-auto
          img(src=data.welcome.image_url?data.welcome.image_url:'', alt="IMG-OUR", style="width: 390px;height: 390px;")
