
extends layout
block content
  section.breadcrumb_area.blog_banner_two
    .overlay.bg-parallax(data-stellar-ratio='0.8', data-stellar-vertical-offset='0', data-background='')
    .container
      .page-cover.text-center
        h2.page-cover-tittle.f_48 Thông tin tuyển dụng
        ol.breadcrumb
          li
            a(href='/') Trang chủ
          li.active  Tuyển dụng
  // ================Breadcrumb Area =================
  // Start Sample Area
  section.sample-text-area
    .container
      .section-top-border
        h3.mb-30.title_color Tuyển dụng nhân viên
        .row
          .col-lg-12
            blockquote.generic-blockquote
              | “Cơ hội việc làm với mức lương hấp dẫn.”

  // Start Align Area
  .whole-wrap
    .container
      .section-top-border
        if typeof(data.slides)!= "undefined" 
            each item in data.slides
              h3.mb-30.title_color Mô tả chi tiết công việc
              .row
                .col-md-4
                  .single-defination
                    h4.mb-20 #{item.sub_title}
                    p
                      | !{data.info.description} 
        h3.title_color Hình ảnh
          if typeof(data.slides)!= "undefined" 
            each item in data.slides
              .row.gallery-item
                .col-md-4
                  a.img-gal(href='/tuyendung')
                    .single-gallery-image(style='background: url('+item.image_url+');')
            