extends layout

block content
  .bg-title-page.flex-c-m.p-t-160.p-b-80.p-l-15.p-r-15(style="background-image: url(images/bg-title-page-01.jpg);")
  section.section-mainmenu.p-t-110.p-b-70.bg1-pattern
    .container
      .row
        .col-md-10.col-lg-6.p-r-35.p-r-15-lg.m-l-r-auto
          .wrap-item-mainmenu.p-b-22
            h3.tit-mainmenu.tit10.p-b-25
              | Không có phòng nào phù hợp với yêu cầu của quý khách
            