extends layout

block content
  include partials/home/slide
  include partials/home/welcome
  include partials/home/intro
  include partials/home/room
  include partials/home/ourmenu
  include partials/home/table_booking