extends layout
block content
  include partials/home/slide
  h3.tit3.t-center.m-b-35.m-t-5
      | Thông tin tuyển dụng
  .t-center.m-l-r-auto(style="padding: 0 20% 5% 20%") !{data.info.description}  