// ================ Testimonial Area  =================
section.testimonial_area.section_gap
  .container
    .section_title.text-center
      h2.title_color 
        a(href='/')  Phản hồi
      p
        | Đánh già về khách sạn Royal Hotle Riverside
    .testimonial_slider.owl-carousel
      .media.testimonial_item
        img.rounded-circle(src='/roomLayout/image/testtimonial-1.jpg', alt='')
        .media-body
          p
            | Ở một vị trí tuyệt vời để ngắm cảnh khi ánh mặt trời bắt đầu nhô lên khỏi mặt biển, phòng đẹp, dịch vụ hoàn hảo, Nhân viên thân thiện và nhiệt tình giúp đỡ. Cả nhà rất vui vẻ và tận hưởng kì nghỉ tuyệt vời. Cảm ơn Royal Hotel Riverside...
          a(href='#')
            h4.sec_h4 Ngọc Diệp
          .star
            a(href='#')
              i.fa.fa-star
            a(href='#')
              i.fa.fa-star
            a(href='#')
              i.fa.fa-star
            a(href='#')
              i.fa.fa-star
            a(href='#')
              i.fa.fa-star-half-o
      .media.testimonial_item
        img.rounded-circle(src='/roomLayout/image/testtimonial-1.jpg', alt='')
        .media-body
          p
            | Tôi đã có kỳ nghỉ với gia đình tại khách sạn Royal Hotel Riverside. Khách sạn sạch, đẹp..Thật tuyệt vời, nhân viên rất thân thiện, nhiệt tình, cung cách phục vụ chuyên nghiệp...Khoảng cách di chuyển từ khách sạn đến các điểm trong thành phố rất tiện. Dịch vụ tốt. Tôi sẽ quay lại trong thời gian tới. Cảm ơn các bạn rất nhiều! Chúc sức khỏe!
          a(href='#')
            h4.sec_h4 Thanh Tuyền
          .star
            a(href='#')
              i.fa.fa-star
            a(href='#')
              i.fa.fa-star
            a(href='#')
              i.fa.fa-star
            a(href='#')
              i.fa.fa-star
            a(href='#')
              i.fa.fa-star-half-o
      .media.testimonial_item
        img.rounded-circle(src='/roomLayout/image/testtimonial-1.jpg', alt='')
        .media-body
          p
            | Thái độ phục phụ tốt, mọi dịch vụ rất chuyên nghiệp. Vị trí trên bờ biển Nhật lệ nên rất tiện để đi lại , mua sắm và ngắm cảnh.
          a(href='#')
            h4.sec_h4 Thu Hiền
          .star
            a(href='#')
              i.fa.fa-star
            a(href='#')
              i.fa.fa-star
            a(href='#')
              i.fa.fa-star
            a(href='#')
              i.fa.fa-star
            a(href='#')
              i.fa.fa-star-half-o
      .media.testimonial_item
        img.rounded-circle(src='/roomLayout/image/testtimonial-1.jpg', alt='')
        .media-body
          p
            | Nhân viên phục vụ tốt , thân thiện. môi trương xanh sạch đẹp, mọi không gian đều hài lòng và thức ăn rất tuyệt vời. hứa sẽ đến đây nhiều lần nữa..... mọi người nên đến đây để được trải nhiệm một phong cảnh yên tĩnh. được thư giãn cùng gia đình ở đây rất hợp lí, tôi sẽ giới thiệu bạn bè người thân đến đây để có thể có cảm nhân giống tooi, rất tuyệt vời
          a(href='#')
            h4.sec_h4 Anh Thư
          .star
            a(href='#')
              i.fa.fa-star
            a(href='#')
              i.fa.fa-star
            a(href='#')
              i.fa.fa-star
            a(href='#')
              i.fa.fa-star
            a(href='#')
              i.fa.fa-star-half-o
// ================ Testimonial Area  =================
