// ================ Contact =================
section.about_history_area.section_gap
  .container
    .row
      .col-md-6.d_flex.align-items-center
        .about_content
          h2.title.title_color
            | Royal Hotel Riverside 
          p
            |  #{data.welcome.description}
          a.button_hover.theme_btn_two(href=data.welcome.welcome_url?data.welcome.welcome_url:'') Xem thêm
      .col-md-6
        img.img-fluid(src=data.welcome.image_url?data.welcome.image_url:'', alt='img')
// ================ welcome  =================

