header.main-header
  a.logo(href="./")
    span.logo-mini
      b S
      | X
    span.logo-lg
      b Quản lý
      |  Khách sạn
  nav.navbar.navbar-static-top
    a.sidebar-toggle(href="/", data-toggle="push-menu", role="button")
      span.sr-only Toggle navigation
  